<header class="col-md-8 col-md-offset-2">
  <nav class="navbar nav-bar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', root_path %></li>
          <li><a href="https://github.com/felipedaraujo/doogle">Source</a></li>
          <li><a href="mailto:me@felipedearaujo.com?Subject=Venha%20segunda-feira">Hire me</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="row">
  <div class="col-md-6 col-md-offset-3">
    <center>
      <h1>Doogle</h1>
      <%= form_tag('search', method: :get, remote: true, class: "js-search-doogle") do %>
        <div class="form-group">
          <%= text_field_tag :query, nil, class: "js-query form-control" %>
        </div>
        <%= submit_tag 'Doogle Search', class: 'btn btn-default' %>
      <% end %>

      <h3 class="js-message"></h3>
    </center>

    <h3 class="js-entry"></h3>
    <p class="js-definition"></p>
  </div>
</section>

<footer class="footer">
  <center>
    <p>
      Made with <span style="color: white">&hearts;</span> by <a href="https://github.com/felipedaraujo/doogle">@felipedaraujo</a>
    </p>
  </center>
</footer>
